nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li a {
    padding: 0 75px;
    text-decoration: none;
    color: black;
}