.main-container {
    display: flex;
    flex-direction: column;
}

main {
    margin: 35px 0;
    padding: 20px;
}

h1 {
    margin: 0 0 40px 0;
    align-self: center;
}

/* Styling for high score panel */
.high-score-list {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.2rem;
}

.high-score-item {
    display: contents;
}

.order {
    text-align: center;
}

.username {
    text-align: center;
}

.score {
    text-align: center;
}

.high-score-item div {
    padding: 8px;
    border-radius: 5px;
}
/* End styling for high score panel */